@import "../../styles.scss";

.bookCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: white;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border-radius: 10px;  
    border: 1px solid black;  
    height: calc(100% - 40px);
    
    p {
        font-size: $text-size * 0.8; 
        text-align: center;

        &.author{
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
    }

    img {
        border-radius: 10px;
        object-fit: contain;
    }

    a {
        margin: $base-spacing;
        padding: $base-spacing;
        text-decoration: none;
        color: black;   
    }

    .star {
        color: #FFD263;
        position: absolute;
        right: 0;
        top: 0;
        margin: $base-spacing;
        font-size: $text-size * 1.5;
    }
}