@import "../styles.scss";

.header{
    position: fixed;
    margin: 0px $base-spacing;
    width: calc(100% - 2*#{$base-spacing});
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 2;
    background-color:$background-color;

    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin: $base-spacing;
        }
    }
}