@import "../styles.scss";

.header{
    position: fixed;
    margin: 0px $base-spacing;
    width: calc(100% - 2*#{$base-spacing});
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
    z-index: 2;
    background-color:$background-color;

    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        img {
            height: 35px;
            border-radius: 5px;
            margin: $base-spacing;
        }

        .headerIcon {
            color: black;
            margin: $base-spacing;
            transform: scale(1.5);
            padding: $base-spacing;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(2);
            }
        }
    }
}