<section class="collection">
    <header class="landing">
        <img src="../../assets/images/bookshelves.svg" alt="bookshelves">
        <h1>Your Collection</h1>
    </header>
    
        <ng-container *ngIf="collectionsService.user$ | async as user; else addBooksMessage">
            <div class="gallery">
                <app-book-card *ngFor ="let book of user.books" [book]="book"></app-book-card>
            </div>
        </ng-container>

        <!-- <ng-template #bookCards>
         
        </ng-template> -->
        <ng-template #addBooksMessage>
            <p>Your Collection is empty!</p>
            <p>Please <a href="/">Search</a> for books to add them to your Collection</p>
        </ng-template>
</section>
