<section class="collection">
    <header class="landing">
        <img src="../../assets/images/bookshelves.svg" alt="bookshelves">
        <h1>Your Collection</h1>
    </header>
    
        <ng-container *ngIf="collectionsService.user$ | async as user; else signInMessage">
            <div class="gallery" *ngIf="user.books.length; else addBooksMessage">
                <app-book-card *ngFor ="let book of user.books" [book]="book"></app-book-card>
            </div>
            <ng-template #addBooksMessage>
                <p>Your Collection is empty!</p>
                <p>Please <a href="/">Search</a> for books to add them to your Collection</p>
            </ng-template>
        </ng-container>

        <ng-template #signInMessage>
            <p>No User Signed in!</p>
            <p>Please <button (click)="handleSignIn()">Sign In</button> to add books to your Collection</p>
        </ng-template>
</section>
