@import "../../styles.scss";

.collection {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > p{
        text-align: center;
    }
    .landing {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            flex-grow: 1;
        }
        img {
            margin: $base-spacing*4;
            flex-grow: 0;
            max-height: 30vh;
        }
        
    }

    .gallery {
        width: 100vw;
        height: 100%;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }


}