@import "../../styles.scss";

.searchPage {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $base-spacing;
    border-radius: $base-spacing;
    
    .btn {
        background-color: $accent-color; 
        font-size: $text-size;
        width: $text-size*4;
        transition: all 0.5s ease;
        height: $text-size*1.5;
        overflow: hidden;
        margin: $base-spacing;
        
        &:hover {
            width: $text-size*6;
            
            &::after{
                content: "Search";
            }
        } 
    }

    .searchInput {
        margin: $base-spacing;
        padding: $base-spacing * 0.5;
    }

    img {
        width: 500px;
        min-width: 30%;
        max-width: 80%;
        margin: $base-spacing*4;
    }


}