@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    font-size: $text-size;
}

h1 {
    text-align: center;
    font-size: $title-size;
}